#Map-restaurants {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.Map-restaurant-location {
    height: 16px;
    width: 16px;
    /*animation: spring 3s ease 0s normal;*/
}

.Map-popup {
  animation: spring 5s linear alternate infinite
}


@keyframes spring {
    0% {
        visibility: visible;
        height: 32px;
        width: 32px;
    }
    100% {
        /*transform:scale(1,1);*/
        visibility: visible;
        height: 16px;
        width: 16px;
    }
}

